html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0;padding:0;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/* start editing from here */
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
.underline{	padding-bottom:5px;	border-bottom: 1px solid #eee; margin:0 0 20px 0;}/* Add 5px bottom padding and a underline */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}

@font-face {
    font-family: raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: raleway;
    src: url('../fonts/Raleway-Regular.ttf');
    font-weight: lighter;
}



*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}


body {font-family: 'raleway', sans-serif;
	font-weight:lighter;
margin:0 auto;
text-align: center;
}




/*titulo*/

div#titulo{
	width:100%;
	margin-top:100px;
}

p#header{
	text-align: center;
	font-size: 2.5em;
}

p#subheader{
	text-align: center;
	color:#cecece;
	margin-top:20px;
	font-size: 1.3em;
}

header{
	margin:100px auto;
	width:1200px;
	height:230px;
}

div.contenedor{
	margin:0 auto;
	width: 150px;
	height: 180px;
	float:left;
	-webkit-transition: height .4s;

}

div.center{
	margin:0 auto;
	text-align: center;
}

div#uno{
	background-color: rgb(208,101,3);
}

div#dos{
	background-color: rgb(233,147,26);
}

div#tres{
	background-color: rgb(22,145,190);
}

div#cuatro{
	background-color: rgb(22,107,162);
}

div#cinco{
	background-color: rgb(27,54,71);
}

div#seis{
	background-color: rgb(21,40,54);
}

img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.15);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.texto{
	font-size: 1.3em;
	color:white;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}

#container_3_3{
margin-left:20px;
width:90%;

border: 1px transparent;
margin-top: 30px;
background:#FFF;
border: 1px solid rgb(221, 221, 221);
box-shadow:0 0 4px rgb(221, 221, 221);
padding:1.5em;
}
#container_3_3:hover .container_3_3_head{background: rgba(227, 151, 29,0.9);
transition:all 0.3s ease-out;
-webkit-transition:all 0.3s ease-out;
-moz-transition:all 0.3s ease-out;
}
.container_3_3_head{
text-align:center;
font-size:1.0em;
color: #fff;
text-transform:uppercase;
padding:1%;
width:95%;
cursor:pointer;
background: rgb(227, 151, 29);
background-size:100% 100%;
}

.container_3_3_label{
margin-top: 2%;
position:relative;
height:250px;
}








































































